@{
    ViewBag.Title = "At your service";
}
<h2>@ViewBag.Title</h2>


<address> <span> You can find us <a href="https://tinyurl.com/y9jnd8tj">here:</a> </span>
    Ghencea Business Center, Bucharest<br />
     <abbr title="Phone">Phone number:</abbr>
    +40745566904
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@golden_book.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@golden_book.com</a>
</address>