@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Golden Book</h1>
    <p class="lead">The bookshop you're looking for!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div>
        <h2  class="text-center text-capitalize">
            Features
        </h2>
    </div>
    <div class="col-md-4">
        <h2>A lot of books</h2>
        <p>
            Our bookshop contains books from a lot of publishers
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Suited prices</h2>
        <p>Our prices range from few bucks to hundred.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fast delivery</h2>
        <p>Your orders come to your house in 2-3 working days.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>